h1{
    color:white ;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100;
}
a{
    color:white;
    text-decoration: none;
}
.container{
    width: 80;
    margin-left:auto ;
    margin-right:auto;
}
.header-index{
     background-image: url(./coffeeBlog/coffeeBlog/banner.jpg);
    background-size: cover;
    height: 400px;
    color:white;
    text-align: center;
}
.header-contact{
    background:black;
    background-size: cover;
    height: 200px;
    color:white;
    text-align: center;

}
.btn-read{

    display: inline-block;

    background-color: black;

    color:white;

    text-transform: uppercase;

    text-decoration: none;

    font-size: 12px;

    padding:15px;

    margin-bottom: 20px;

}
.btn-read2{

    display: inline-block;

    background-color: orange;

    color:white;

    text-transform: uppercase;

    text-decoration: none;

    font-size: 12px;

    padding:15px;

    margin-bottom: 20px;

}
.btn-read3{

    display: inline-block;

    background-color: orange;

    color:white;

    text-transform: uppercase;

    text-decoration: none;

    font-size: 12px;

    padding:15px;

    margin-bottom: 20px;
}

.navigation-bar{
    display: flex;
    justify-content: space-around;
    align-items: center; 

}

.main-flex{
    display: flex;
    justify-content:center
}

.blog-container{
    width: 70%;
    margin-right: 20%
}

.courses-container{
    width:30%
}

input{
width: 78%;
padding: 5px;
border-radius: 5px;
border: 1px solid black;
}
.contact-container{
display:flex;
flex-direction: column;
}

.form-container{
background-color: white;
margin-top: -50px;
padding:20px;
}

.input-control{
margin: 20px 0;
display:flex;
align-items: center;
}

input, textarea{
width: 78%;
padding: 5px;
border-radius: 5px;
border: 1px solid black;
}

label{
    width: 20%;
}

.footer-about{
    background-color: black;
    height: 100px;
    color:black;
    text-align: center;
}
.footer-about-nav{
      display: flex;
    justify-content: space-around;
    align-items: center; 

}
.about-container{
    text-align: center;
}

.main-class-img{
  display: flex;
    justify-content:center
}
.about-word-container{
    width:30%
}

.header-courses{
     

   background-image: url(./coffeeBlog/coffeeBlog/us.jpg);
    background-size: cover;
    height: 400px;
    color:black; 
    text-align: center; 
}


.course-list{
    text-align: center;
}
.img1{
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
.course-list {
      /*  background-image: url('./coffeeBlog/coffeeBlog/steaming-coffee-cup-stockcake.jpg'); */
      background-color: lightblue;
        background-size: cover; 
        background-position: center center; 
        background-repeat: no-repeat; 
        height: 100vh; 
        margin: 0; 
    }

    .course-description{

    display: inline-block;

    background-color: orange;

    color:white;

    text-transform: uppercase;

    text-decoration: none;

    font-size: 12px;

    padding:15px;

    margin-bottom: 20px;

    }
       .course-description2{

    display: inline-block;

    background-color: orange;

    color:white;

    text-transform: uppercase;

    text-decoration: none;

    font-size: 12px;

    padding:15px;

    margin-bottom: 20px;

    }
   .course-description3{

    display: inline-block;

    background-color: orange;

    color:white;

    text-transform: uppercase;

    text-decoration: none;

    font-size: 12px;

    padding:15px;

    margin-bottom: 20px;

    }
    .footer-contact{
    background-color: black;
    height: 100px;
    color:white;
    text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.div-align{
    text-align: center;
}
.main-flex-container{
    display: flex;
    flex: start;
}
.flex-img{
     display: flex;
    
}

.img9{
   
    width:  500px;
    height: 500px;

}


.img-align{
    display: flex;
    flex-direction: column;
    justify-content: auto;

}
.img-align2{
    display: flex;
    flex-direction: column;
    justify-content: auto;

}
    
    